@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Đăng nhập";
}
<link rel="stylesheet" href="~/css/user.css">
@model LoginModel
<!--Login form-->
<div class="auth__mobile hide-on-destop">
    <div class="auth__mobile-logo">
        <img src="~/img/sme_icon_primary.png" class="auth__mobile-logo-img" alt="">
    </div>
    <form action="/User/Login" method="post" class="auth__mobile-form">
        <div class="auth__mobile-form-div">
            <i class="uil uil-user auth__mobile-form-icon"></i>
            <input type="text" class="auth__mobile-form-input" asp-for="sEmail"
                placeholder="Email/Số điện thoại/Tên đăng nhập">
        </div>
        <span class="auth__mobile-form-msg error" asp-validation-for="sEmail"></span>
        <div class="auth__mobile-form-div">
            <i class="uil uil-lock-alt auth__mobile-form-icon"></i>
            <div class="auth__mobile-form-password">
                <input type="password" asp-for="sPassword"
                    class="auth__mobile-form-input auth__mobile-form-input-password" placeholder="Mật khẩu">
                <div class="auth__mobile-form-password-show" onclick="showHiddenPass()">
                    <i class="uil uil-eye-slash auth__mobile-form-password-show-icon"></i>
                </div>
                <a href="#" class="auth__mobile-form-password-forgot">Quên tài khoản và mật khẩu</a>
            </div>
        </div>
        <span class="auth__mobile-form-msg error" asp-validation-for="sPassword"></span>
        @if (TempData["msg"] != null)
        {
            <div class="auth__mobile-form-msg error">
                @TempData["msg"]
            </div>
        }
        <button type="submit" class="auth__mobile-form-btn">Đăng nhập</button>
        <div class="auth__mobile-form-link">
            <a href="/user/register" class="auth__mobile-form-link-register">Đăng ký</a>
            <a href="#" class="auth__mobile-form-link-sms">Đăng nhập bằng SMS</a>
        </div>
    </form>
    <div class="auth__mobile-or">
        <div class="auth__mobile-or-title">
            <span></span>
            <div class="auth__mobile-or-title-text">HOẶC</div>
            <span></span>
        </div>
    </div>
    <div class="auth__mobile-bottom-btns">
        <a href="#" class="auth__mobile-bottom-btn">
            <i class="uil uil-facebook auth__mobile-bottom-btn-icon auth__mobile-bottom-btn-facebook-icon"></i>
            <div class="auth__mobile-bottom-btn-facebook">
            </div>
            Đăng nhập với Facebook
        </a>
        <a href="#" class="auth__mobile-bottom-btn">
            <i class="uil uil-google auth__mobile-bottom-btn-icon auth__mobile-bottom-btn-google-icon"></i>
            Đăng nhập với Google
        </a>
        <a href="#" class="auth__mobile-bottom-btn">
            <i class="uil uil-apple auth__mobile-bottom-btn-icon auth__mobile-bottom-btn-apple-icon"></i>
            Đăng nhập với Apple
        </a>
    </div>
</div>
<div class="app__container">
    
</div>
<script src="~/js/user_login.js"></script>

