@model ShopeeViewModel

@{
    ViewData["Title"] = "Sản phẩm tương tự";   
}

<link rel="stylesheet" href="~/css/find_similar_product.css">
<div class="app__container hide-on-table">
    <div class="grid wide">
        <div class="similar-product__header">
            <div class="similar-product__header-item">
                <div class="similar-product__header-item-left">
                    <img src="./assets/img/tai_nghe_5.jpg" alt="" class="similar-product__header-item-img">
                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">53%</span>
                        <span class="home-product-item__sale-off-label">GIẢM</span>
                    </div>
                </div>
                <div class="similar-product__header-item-right">
                    <div class="similar-product__header-item-top">
                        <div class="similar-product__header-item-name">
                            Bút Laze Trình Chiếu PowerPoint Kèm Remote Điều Khiển Không Dây Cho Laptop RF 2.4GHz
                        </div>
                        <div class="similar-product__header-item-rate">
                            <div class="similar-product__header-item-rate-sub">4.9</div>
                            <div class="similar-product__header-item-rate-stars">
                                <i class="uis uis-star similar-product__header-item-rate-star"></i>
                                <i class="uis uis-star similar-product__header-item-rate-star"></i>
                                <i class="uis uis-star similar-product__header-item-rate-star"></i>
                                <i class="uis uis-star similar-product__header-item-rate-star"></i>
                                <i class="uis uis-star similar-product__header-item-rate-star"></i>
                            </div>
                            <div class="similar-product__header-item-rate-sub">4.9 trên 5</div>
                            <div class="similar-product__header-item-rate-count">(21 đánh giá)</div>
                            <div class="similar-product__header-item-rate-title">34 Sold Monthly</div>
                        </div>
                    </div>
                    <div class="similar-product__header-item-bottom">
                        <div class="similar-product__header-item-price">
                            <div class="similar-product__header-item-price-old">181.000 đ</div>
                            <div class="similar-product__header-item-price-current">121.000 đ</div>
                        </div>
                        <div class="similar-product__header-item-buy-now btn btn--primary">Mua ngay</div>
                    </div>
                </div>
            </div>
            <div class="similar-product__header-shop">
                <div class="similar-product__header-shop-info">
                    <div class="similar-product__header-shop-avatar">
                        <img src="./assets/img/vietmark_logo.png" alt=""
                            class="similar-product__header-shop-avatar-img">
                    </div>
                    <div class="similar-product__header-shop-name">Viet Mark</div>
                    <div class="similar-product__header-shop-chat">
                        <i class="uil uil-comments-alt similar-product__header-shop-chat-icon"></i>
                    </div>
                </div>
                <div class="similar-product__header-shop-numb">
                    <div class="similar-product__header-shop-product">
                        Sản phẩm <span>200</span>
                    </div>
                    <div class="similar-product__header-shop-rate">
                        Đánh giá <span>N/A</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__suggest">
            <div class="suggest__header">
                <div class="suggest__title">Sản phẩm tương tự</div>
            </div>
            <div class="suggest__container">
                <div class="home-product">
                    <div class="row sm-gutter home-product__list">

                    </div>
                    <ul class="pagination home-product__pagination">
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="pagination-item pagination-item--active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">5</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">...</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">14</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>