@model ProductViewModel
@{
    @* Layout = "_Cart"; *@
    ViewData["Title"] = "Giỏ hàng";
} 
<link rel="stylesheet" href="~/css/cart.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
<div class="app__container">
    <div class="grid wide">
        <div class="cart">
            
        </div>
    </div>
</div>

<!--Modal layoyt-->
<div class="cart__message">

</div>

<div class="cart__delete-loading">
    <div class="modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            <div class="spinner"></div>
        </div>
    </div>
</div>

<script src="~/js/cart.js"></script>